<script>
var categorias;
$(document).ready(function(){
	categorias = null;
	$.ajax({
		type : "get",
		url : "../controller/CategoriaController.php?operacao=listar",
		dataType : "json",
		success : function(result) {
			console.log(result);
			categorias = result;
			gerarTabela();
		},
		error : function(result, txt) {
			console.log(result);
			exibirMensagem(-1, txt);
		}
	});
});

function gerarTabela() {
	$('#categorias tbody').html("");
	for (var i = 0; i < categorias.length; i++) {
		addLinha(categorias[i].idcategoria, categorias[i].descricao, false);
	}
}

function getCategoria(idCategoria) {
	for (var i = 0; i < categorias.length; i++) {
		if(categorias[i].idcategoria == idCategoria){
			return categorias[i];
		}
	}
}

function excluirCategoriaTabela(idCategoria) {
	for (var i = 0; i < categorias.length; i++) {
		if(categorias[i].idcategoria == idCategoria){
			categorias.splice(i, 1);
			break;
		}
	}
	
	$("tr#categoria-" + idCategoria).hide("slow", function(){
		this.remove();
	});
}

function alterarCategoriaTabela(id, descricao) {
	for (var i = 0; i < categorias.length; i++) {
		if(categorias[i].idcategoria == id){
			categorias[i].descricao = descricao;
			break;
		}
	}

	//Gera a tabela toda pra que a categoria editada fique no mesmo lugar
	gerarTabela();
}

function inserirCategoriaTabela(idCategoria, nomeCategoria){
	categorias.push({"idcategoria":idCategoria, "descricao":nomeCategoria});
	addLinha(idCategoria, nomeCategoria, true);
}

function addLinha(idCategoria, nomeCategoria, top){
	var linhas =
	    " <tr id='categoria-" + idCategoria + "'>" +
		" <td>"+ nomeCategoria +"</td>"+
		" <td width='16px'>"+
			" <a href='#' onClick='editar(getCategoria(" + idCategoria + "))'> " + 
			" <img class='link_edit' src='../Resources/Imagens/edit.png' /></a>" +
		" </td>"+
		" <td width='16px'>"+
			" <a href='#' onClick='deletar(" + idCategoria + ")'> " +
			" <img class='link_delete' src='../Resources/Imagens/delete.png' /></a>" +
		" </td>"+
		" </tr>";
		if(top){
			$('#categorias tbody').html(linhas + $('#categorias tbody').html());
		} else {
			$('#categorias tbody').append(linhas);
		}
}
</script>
<table id="categorias">
	<thead>
		<tr>
			<th>Categoria</th>
			<th>Alterar</th>
			<th>Excluir</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

